
.flag__Container{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
}

.flag__card{
    border: 1px solid red;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
}

.flag__card > img{
    width: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.flag__card > p{
    text-align: center;
}