/* .App {
  text-align: center;
  margin: 20px;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  width: 300px;
}

.country-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 150px;
  text-align: center;
} */


.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.inp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5%;
}

.inp input {
  font-size: larger;
  font-weight: bolder;
  border: 5px solid;
}

.countryCard {
  padding: 2%;
  margin: 2%;
  border: 3px solid;
}

img {
  width: 15vw;
  height: 20vh;
}